{{ define "main" }}
<article class="">
  <div class="rw">
    <div class="rr">
      <div class="rcx12">
        <div class="">{{ partial "breadcrumb.html" . }}</div>
        <h1 class="title">{{ .Page.Title }}</h1>
        <div class="">
          <span class=""><i class="fa fa-refresh" aria-hidden="true"></i> 更新日:{{ .Lastmod.Format "2006/01/02" }}</span>
          <span class=""><i class="fa fa-calendar" aria-hidden="true"></i> 作成日:{{ .Date.Format "2006/01/02" }}</span>
        </div>
        <div class="" style="margin-top: 1rem;">
        {{ range (.GetTerms "tags") }}
        <span style="margin-right: .5rem;"><i class="fa fa-tags"></i><a class="a-tag" href="{{ .Permalink }}"> #{{ .LinkTitle }} </a></span>
        {{ end }}
        </div>
      </div>
    </div>
    <div class="rr">
      <div class="rcx12 rpxs post">
        {{ .Content }}
      </div>
    </div>
    <hr />
    <div class="rr">
      <div class="rcx12">
        {{ partial "share.html" .}}
      </div>
    </div>
    <div class="rr">
      <div class="rcx12">
        {{ partial "adsense.html" .Site }}
      </div>
    </div>
  </div>
</article>
{{ end }}



{{ define "aside" }}
{{ $related := .Site.RegularPages.Related . | first 8 }}
{{ $BaseURL := .Site.BaseURL }}
{{ with $related }}
<div class="rw">
  <section style="padding: 1rem;" class="">
    <h4 class="">Related contents</h4>
    {{ range . }}
    <div class="rcx12">
        <a href="{{.Permalink}}">
            <amp-img class="thumbnail" alt="Eyecatch" media="" width="75" height="75" layout="fixed"
              src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}">
            </amp-img>
            <h4 class="title">{{.Title}}</h4>
        </a>
      </div>
    {{ end }}
  </section>
</div>
{{ end }}

{{ $recent_articles := (where .Site.Pages "IsPage" true) }}
<div class="rw">
  <section style="padding: 1rem;" class="">
    <h4 class="">Latest contents</h4>
    {{ range first ($.Site.Params.latestSize | default 3) $recent_articles }}
    <div class="rcx12">
      <a href="{{.Permalink}}">
          <amp-img class="thumbnail" alt="Eyecatch" media="" width="75" height="75" layout="fixed"
            src="{{ if isset .Params "eyecatch" }}{{ .Params.Eyecatch }}{{ else if isset .Params "img" }}{{ .Params.img }}{{ else }}{{ .Site.BaseURL }}images/nopicture.png{{ end }}">
          </amp-img>
          <h4 class="title">{{.Title}}</h4>
      </a>
    </div>
    {{ end }}
  </section>
</div>


{{ end }}