{{ define "main" }}
<section class="section is-fullheight" itemscope itemtype="https://schema.org/WebPage">
  <div class="">
    <h2 class="font-bold text-xl">Blog Archives</h2>
    {{ $type := "blog" }}
    {{ $.Scratch.Set "count" 1 }}

    {{ range (.Site.RegularPages.GroupByDate "2006") }}

    {{ $count := (len .Pages) }}
    {{ if (gt .Key 2000) }}

    {{ range (where .Pages "Type" $type) }}
    {{ if (eq ($.Scratch.Get "count") 1) }}
    {{ $.Scratch.Set "count" 0 }}
    <h1 class="font-bold mt-2">{{ .Date.Format "2006" }}年 ({{ $count }})</h1>
    {{ end }}
    {{ end }}

    {{ $.Scratch.Set "count" 1 }}

    <ul class="article__list">
      {{ range (where .Pages "Type" $type) }}
      <li>
        <a class="" href="{{ .RelPermalink }}">
          <span class="">{{ .Date.Format "01/02" }}</span> — {{ .Title }}
        </a>
      </li>
      {{ end }}
    </ul>

    <br>

    {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}