	</div>

	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-content">
			<div class="row">
				<div class="four columns">
					<h1>Profile</h1>
					<div id="profile">
					<div class="header-logo"><img src="{{ .Site.Params.logo }}" width="60" height="60"></div>
						<p>{{ .Site.Params.profile }}</p>
					</div>
				</div>
				<div class="four columns">
					<h1>Category</h1>
					<ul class="footer-list footer-link">
					{{ $url := .Site.BaseURL }}
					{{ range $key, $value := .Site.Taxonomies.category }}
						<li><a href="{{$url}}{{$key}}">{{ title $key }}</a></li>
					{{ end }}
					</ul>
				</div>
				<div class="four columns">
					<!--<h1>Tags</h1>
					<ul class="list-unstyled">
					{{ range $key, $value := .Site.Taxonomies.tags }}
						<li>{{ title $key }}</li>
					{{ end }}
					</ul>-->
				</div>
			</div>
		</div>
		<div class="u-cf"></div>
		<div class="footer-link">
			{{ with .Site.Params.Email }}<a href="mailto:{{ . }}" target="_blank">Email</a>{{ end }}
			{{ with .Site.Params.Twitter }}<a href="https://twitter.com/{{ . }}" target="_blank">Twitter</a>{{ end }}
			{{ with .Site.Params.Facebook }}<a href="{{ . }}" target="_blank">Facebook</a>{{ end }}
			{{ with .Site.Params.Github }}<a href="{{ . }}" target="_blank">GitHub</a>{{ end }}
		</div>
		<div class="copyright">
			<p>&copy; {{ .Site.LastChange.Year }} {{ if isset .Site.Params "Author" }} {{ .Site.Params.Author }} {{ end }} - {{ .Site.Title }}</p>
		</div>
	</footer>


<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KG3QGC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KG3QGC');</script>
<!-- End Google Tag Manager -->

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
