<div class="sidebar-module">
  <h3>Tech</h3>
  <ul class="list-unstyled urllist">
  {{ range first 10 .Site.Pages }}
    {{ if in .Params.tags "ワールド・カフェ" }}
    <li>
      <div>
        <a href="{{ .Permalink }}"><img class="urllist-img" src="{{ if isset .Params "img" }}{{ .Params.img }}{{ else }}/images/nopicture.png{{end}}" alt="{{ .Title }}" width="75"></a>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </div>
    </li>
    {{ end }}
  {{ end }}
  </ul>
  <div class="kaerebalink-box">
    <div class="kaerebalink-image">
      <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4532314887/meganii-22/ref=nosim/" target="_blank" >
        <img src="https://images-na.ssl-images-amazon.com/images/I/41Xz5nbHwbL._SL160_.jpg" style="border: none;" />
      </a>
    </div>
    <div class="kaerebalink-info">
      <div class="kaerebalink-name">
        <a href="http://www.amazon.co.jp/exec/obidos/ASIN/4532314887/meganii-22/ref=nosim/" target="_blank" >ワールド・カフェをやろう！</a>
        <div class="kaerebalink-powered-date">posted with <a href="http://kaereba.com" rel="nofollow" target="_blank">カエレバ</a>
        </div>
      </div>
      <div class="kaerebalink-detail">香取 一昭,大川 恒 日本経済新聞出版社 2009-11-13    </div>
      <div class="kaerebalink-link1">
        <div class="shoplinkamazon"><a href="http://www.amazon.co.jp/gp/search?keywords=%83%8F%81%5B%83%8B%83h%81E%83J%83t%83F&__mk_ja_JP=%83J%83%5E%83J%83i&tag=meganii-22" target="_blank" >Amazon</a>
        </div>
        <div class="shoplinkrakuten"><a href="http://hb.afl.rakuten.co.jp/hgc/0f1c1106.d5997202.117c2ed9.4ab7d4d2/?pc=http%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2F%25E3%2583%25AF%25E3%2583%25BC%25E3%2583%25AB%25E3%2583%2589%25E3%2583%25BB%25E3%2582%25AB%25E3%2583%2595%25E3%2582%25A7%2F-%2Ff.1-p.1-s.1-sf.0-st.A-v.2%3Fx%3D0%26scid%3Daf_ich_link_urltxt%26m%3Dhttp%3A%2F%2Fm.rakuten.co.jp%2F" target="_blank" >楽天市場</a>
        </div>
      </div>
    </div>
    <div class="booklink-footer" style="clear: left"></div>
  </div>


  <div class="kaerebalink-box">
    <div class="kaerebalink-image"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/499032983X/meganii-22/ref=nosim/" target="_blank" ><img src="https://images-na.ssl-images-amazon.com/images/I/51HYAe3SrUL._SL160_.jpg" style="border: none;" /></a>
    </div>
    <div class="kaerebalink-info">
      <div class="kaerebalink-name"><a href="http://www.amazon.co.jp/exec/obidos/ASIN/499032983X/meganii-22/ref=nosim/" target="_blank" >ワールド・カフェ~カフェ的会話が未来を創る~</a>
        <div class="kaerebalink-powered-date">posted with <a href="http://kaereba.com" rel="nofollow" target="_blank">カエレバ</a>
        </div>
      </div>
      <div class="kaerebalink-detail">アニータ ブラウン / デイビッド アイザックス / ワールド・カフェ・コミュニティ ヒューマンバリュー 2007-09-28    </div>
      <div class="kaerebalink-link1">
        <div class="shoplinkamazon"><a href="http://www.amazon.co.jp/gp/search?keywords=%83%8F%81%5B%83%8B%83h%81E%83J%83t%83F&__mk_ja_JP=%83J%83%5E%83J%83i&tag=meganii-22" target="_blank" >Amazon</a>
        </div>
        <div class="shoplinkrakuten"><a href="http://hb.afl.rakuten.co.jp/hgc/0f1c1106.d5997202.117c2ed9.4ab7d4d2/?pc=http%3A%2F%2Fsearch.rakuten.co.jp%2Fsearch%2Fmall%2F%25E3%2583%25AF%25E3%2583%25BC%25E3%2583%25AB%25E3%2583%2589%25E3%2583%25BB%25E3%2582%25AB%25E3%2583%2595%25E3%2582%25A7%2F-%2Ff.1-p.1-s.1-sf.0-st.A-v.2%3Fx%3D0%26scid%3Daf_ich_link_urltxt%26m%3Dhttp%3A%2F%2Fm.rakuten.co.jp%2F" target="_blank" >楽天市場</a>
        </div>
      </div>
    </div>
    <div class="booklink-footer" style="clear: left"></div>
  </div>
</div>
