<div class="rf">
  <span>スポンサーリンク</span>
  <div class="rr">
    <div class="rcm6 rcx12">
      <amp-ad layout="responsive" width=300 height=250 type="adsense" data-ad-client="{{.Site.Params.adsensePublisher}}"
        data-ad-slot="{{.Site.Params.adsenseAd001}}">
      </amp-ad>
    </div>
    <div class="rcm6 hx">
      <amp-ad layout="responsive" width=300 height=250 type="adsense" data-ad-client="{{.Site.Params.adsensePublisher}}"
        data-ad-slot="{{.Site.Params.adsenseAd001}}">
      </amp-ad>
    </div>
  </div>
</div>