[submodule "data/amazon"]
	path = data/amazon
	url = git@github.com:meganii/amazon-product-data.git
[submodule "data/tweet"]
	path = data/tweet
	url = git@github.com:meganii/tweet-data.git
[submodule "data/affiliate"]
	path = data/affiliate
	url = git@github.com:meganii/affiliate-data.git
