[submodule "themes/robust"]
	path = themes/robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/land-see"]
	path = themes/land-see
	url = https://meganii@bitbucket.org/meganii/hugo-theme-land-see.git
