[submodule "data/amazon"]
	path = data/amazon
	url = ../amazon-product-data.git
[submodule "data/tweet"]
	path = data/tweet
	url = ../tweet-data.git
[submodule "data/affiliate"]
	path = data/affiliate
	url = ../affiliate-data.git
