/* For markdown list */

.post ul>li {
  list-style: none;
  list-style-position: inside;
  position: relative;
  padding-left: 1.6em;
}

.post ol>li, .post ul>li {
  margin: .6rem 0;
}

.post ul>li:before {
  content: "";
  position: absolute;
  top: .7em;
  left: .35em;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(24,30,50,.7);
}

.post ol {
  list-style: decimal;
  padding-left: 1.6em;
}

.post p {
  @apply my-7;
}

.post h2 {
  @apply text-xl;
  @apply font-bold;
  @apply border-b-2;
  @apply border-gray-300;
  @apply mt-8;
  @apply mb-6;
  @apply pb-2;
}

.post h3 {
  @apply text-lg;
  @apply font-semibold;
  @apply border-l-4;
  @apply pl-4;
  @apply mt-8;
  @apply mb-6;
}

.post h4 {
  @apply text-lg;
  @apply font-semibold;
  @apply mt-4;
  @apply mb-2;
}

.post pre {
  @apply p-6;
  @apply overflow-auto;
  @apply bg-gray-100;
  @apply text-sm;
  @apply border;
  @apply border-gray-100;
  @apply rounded;
}

.post p > code, .post li > code {
  @apply text-sm;
  @apply m-0;
  @apply pt-1;
  @apply pb-1;
  @apply pl-2;
  @apply pr-2;
  @apply rounded;
  @apply bg-gray-100;
}

.toc a {
  @apply hover:underline;
}

.post blockquote {
  @apply text-sm;
  @apply bg-gray-100;
  @apply mt-3;
  @apply p-4;
  @apply border;
  @apply border-gray-100;
  @apply rounded;
}

.post .highlight {
  @apply text-xs;
  @apply bg-gray-100;
  @apply relative;
  @apply border;
  @apply border-gray-100;
  @apply rounded;
}

.post table {
  @apply overflow-auto;
  @apply mt-4;
  @apply border-l;
  @apply border-gray-300;
  @apply border-collapse;
  @apply table-auto;
  @apply block;
}

.post thead {
  @apply border-t;
  @apply bg-gray-100;
}

.post tr:nth-child(even) {
  @apply bg-gray-100;
}

.post th, td {
  @apply border-b;
  @apply border-r;
  @apply border-gray-300;
  @apply py-1 md:py-3;
  @apply px-2 md:px-4;
}

amp-img.contain img {
  @apply object-contain;
}