{{ $associateId := "meganii-22" }}

{{ if .IsNamedParams }}
{{ $.Scratch.Add "amazonItemId" ( .Get "id") }}
{{ $.Scratch.Add "amazonItemWidth" ( .Get "width") }}
{{ $.Scratch.Add "amazonItemHeight" ( .Get "height") }}
{{ else }}
{{ $.Scratch.Add "amazonItemId" ( .Get 0) }}
{{ $.Scratch.Add "amazonItemWidth" "100" }}
{{ $.Scratch.Add "amazonItemHeight" "100" }}
{{ end }}

{{ $itemId := $.Scratch.Get "amazonItemId" }}
{{ $imgWidth := $.Scratch.Get "amazonItemWidth" }}
{{ $imgHeight := $.Scratch.Get "amazonItemHeight" }}

{{ $json := getJSON "data/amazon/" $itemId ".json"}}


<p></p><!-- Avoid overriding list -->


<div class="m-4 relative border border-grey-light rounded
            trasition opacity-100 hover:opacity-75 duration-200 hover:duration-200
            md:m-4 md:mx-auto
            lg:flex lg:my-4 lg:mx-auto">
    <div class="h-56 relative rounded lg:flex-none lg:w-2/5 lg:px-2 lg:py-4 lg:mx-2">
        <amp-img class="contain" src="{{ $json.Item.LargeImage.URL }}" alt="{{ $json.Item.ItemAttributes.Title }}" layout="fill" />
    </div>
    <div class="p-4 flex flex-col justify-between leading-normal">
        <div class="mb-8 px-1">
            {{ if (or ( eq $json.Item.ItemAttributes.ProductGroup "Book") (eq $json.Item.ItemAttributes.ProductGroup "eBooks")) }}<div>出版社：{{ $json.Item.ItemAttributes.Publisher }}</div>{{ else if (eq $json.Item.ItemAttributes.ProductGroup "Shoes") }}<div>{{ $json.Item.ItemAttributes.Brand }}</div>{{ else }}<div>{{ $json.Item.ItemAttributes.Label }}</div>{{ end }}{{ with $json.Item.ItemAttributes.Author }}<div>著者: {{ . }}</div>{{ end }}{{ with $json.Item.ItemAttributes.PublicationDate }}<div>発売日: {{ . }}</div> {{ end }}
        </div>
    </div>
    <a href="{{ $json.Item.DetailPageURL }}" class="block absolute inset-y-auto w-full h-full"></a>
</div>