{{ $url := ( .Get 0) }}
{{ $getURL := printf "http://localhost:6060/ogp?%s" (querify "url" $url ) }}
{{ $ogpjson := getJSON $getURL }}

<div class="border border-grey-light rounded my-4">
    <div class="lg:flex mx-2 p-3 relative">
        <div class="lg:w-4/5">
            <a href="{{ $ogpjson.ogUrl }}"><strong>{{ $ogpjson.ogTitle }}</strong></a>
            <div class="text-sm leading-tight">{{ $ogpjson.ogDescription | truncate 100 }}</div>
        </div>
        <div class="m-2 lg:flex-none lg:w-1/5 h-20 relative">
            <amp-img class="contain" src="{{ $ogpjson.ogImage.url }}" layout="fill" />
        </div>
    </div>
</div>