body {
  font-family: "Rubik", "Hiragino Sans", "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  background-color: #FCFCFC;
}

h1 { font-size: 2.1rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.7rem; }
h4,
h5,
h6 { font-size: 1.5rem; }

#post h1 {
  font-size: 2.5rem;
  padding: 13px;
}

#post h2 {
  font-size: 1.8rem;
  letter-spacing: -1.25px;
  color: #444444;
  background: #f3f3f3;
  padding: 10px 15px;
  border-left: 10px solid #e07000;
}

#post h3 {
  font-size: 1.8rem;
  padding: 8px;
  background: none;
  border-bottom: 2px dashed #e07000;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

header,
footer {
  margin: 4rem 0;
  text-align: center;
}

blockquote{
  background-color:#ddd;
  padding:1em 1em 1em 3em;
  position:relative;
  border-left:3px solid #333;
  margin: 0;
}
blockquote:before{
  content:"“";
  font-size:600%;
  line-height:1em;
  font-family:"ＭＳ Ｐゴシック",sans-serif;
  color:#999;
  position:absolute;
  left:0;
  top:0;
}

/*main {
  margin: 4rem 0;
}*/

.container {
  width: 90%;
  max-width: 960px;
}

.header-logo {
  color: #000;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.nav {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.nav__item {
  display: table-cell;
}

.nav__item > a {
  display: block;
  padding: 5px 0;
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  /*background-color: #e07000;*/
  font-weight: bold;
  color: #222;
}

.nav__hr {
  margin: 0;
  padding: 0;
}

.site-title {
  margin-top: 2rem;
}

.site-title > a {
  color: #222;
}

.entry-title {
  margin-bottom: 0;
}

.entry-title a {
  text-decoration: none;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #E1E1E1;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#E1E1E1), to(white));
  background: -webkit-linear-gradient(left, white, #E1E1E1, white);
  background: linear-gradient(to right, white, #E1E1E1, white);
}

/* Youtubeレスポンシブ */
.youtubeWrapper {
  position: relative ;
  margin-top: 1.2em ;
  margin-bottom: 1.2em ;
  padding-top: 69px ;
  padding-bottom: 50% ;
  overflow: hidden ;
}
.youtubeWrapper iframe{
        position:absolute;
        top:0;
        left:0;
        width:100% !important;
        height:100% !important
}

/* Google Adsense */
.google-adsense p {
  font-size: 10px;
  color: #818181;
  margin-bottom: 0px;
}
/* Google Adsense */
.google-adsense {
  margin-top: 5px;
  margin-bottom: 30px;
}

.ad {
  width: 336px;
  height: 280px;
  margin: 5px;
  float : left;
}

.zenback {
  margin-top: 5px;
}

.urllist li {
  padding: 8px 0;
  border-bottom: 1px solid #dddddd;
  display: block;
  line-height: 1.5;
}

.urllist-img {
  margin: 0 .7em .7em 0;
  float: left;
}
.urllist li:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

.sidebar-module {
  margin-top: 25px;
}

/* Helper */
.font-logo {
  font-family: 'Marcellus SC', serif;
}

.sidebar-bordered {
  border: 1px solid #eee;
  border-radius: 5px;
}

/* shop yomereba */
.booklink-box, .kaerebalink-box{
  margin: 16px auto;
  padding: 5%;
  width: 85%;
  overflow: hidden;
  border: solid 1px #ccc;
  font-size: 90%;
}

.booklink-image, .kaerebalink-image {
  margin: 0 0 16px 0;
}

.booklink-image img, .kaerebalink-image img {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.booklink-info, .kaerebalink-info {
  overflow: hidden;
  line-height: 120%;
  text-align: center;
}

.booklink-name, .kaerebalink-name {
  margin-bottom: 16px;
  font-size: 100%;
  line-height: 120%;
}

.booklink-powered-date, .kaerebalink-powered-date {
  margin-top: 16px;
  font-family: verdana;
  font-size: 8pt;
  line-height: 120%;
}

.booklink-detail, .kaerebalink-detail {
  margin-bottom: 16px;
}

.booklink-link2, .kaerebalink-link1 {
  margin-top: 16px;
}

.shoplinkamazon a, .shoplinkrakuten a, .shoplinkseven a, .shoplinkkindle a, .shoplinkyahoo a {
  margin: 16px auto 0 auto;
  padding: 4px;
  display: block;
  width: 90%;
  border-top: solid 1px #dadada;
  border-right: solid 1px #c7c8c8;
  border-bottom: solid 1px #949494;
  border-left: solid 1px #c7c8c8;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #bcbcbc;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .98), rgba(255, 255, 255, .3) 95%, rgba(255, 255, 255, .98) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .98), rgba(255, 255, 255, .3) 95%, rgba(255, 255, 255, .98) 100%);
  font-weight: 700;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6), 0 -0.5px 0 rgba(1, 1, 1, .6);
}

.shoplinkamazon a:hover, .shoplinkrakuten a:hover, .shoplinkseven a:hover, .shoplinkkindle a:hover, .shoplinkyahoo a:hover {
  border-top: solid 1px #b4b4b4;
  border-right: solid 1px #a0a2a2;
  border-bottom: solid 1px #6e6e6e;
  border-left: solid 1px #a0a2a2;
  box-shadow: 0 1px 1px rgba(148,148,148,1);
}

.shoplinkamazon a:active, .shoplinkrakuten a:active, .shoplinkseven a:active, .shoplinkyahoo a:active {
  position: relative;
  top: 1px;
  border-top: solid 1px #666;
  border-right: solid 1px #999;
  border-bottom: solid 1px #ccc;
  border-left: solid 1px #999;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.3);
  background-color: #bcbcbc;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 95%, rgba(255, 255, 255, .3) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3) 95%, rgba(255, 255, 255, .0) 100%);
}

.shoplinkamazon a {
  color: #fc9711;
}

.shoplinkrakuten a {
  color: #bd0000;
}

.shoplinkseven a {
  color: #23518f;
}

.shoplinkkindle a {
  color: #fc9711;
}

.shoplinkyahoo a {
  color: #bd0000;
}

/******************************

 各種ボタン

******************************/
/*--------------------------------
SNS
---------------------------------*/

.sns{
	width:100%;
	margin:0 auto 20px;
}

.snstext{
	font-size:13px;
	vertical-align:middle;
	padding-left:10px;
}

.snscount{
	font-size:13px;
	vertical-align:middle;
	padding:0 10px;
}

.post .sns ul {
	list-style:none;
	padding:0px;
	margin:0px 0px 20px;

}

.sns li a {
	font-size:15px;
	position:relative;
	display:block;
	padding:5px 10px 5px 15px;
	color:#fff;
	border-radius:3px;
	//text-align:center;
	text-decoration: none;
	height:25px;
	margin:5px;
	cursor:pointer;
	vertical-align: middle;
	line-height:25px;
}

.sns li a:hover {
}

/* ツイッター */
.sns .twitter a {
	background:#55acee;
}
.sns .twitter a:hover {
	background:#4892cb;
}

.fa-twitter {
	border-right:1px solid #9ACFF4;
	padding-right:15px;
}

/* Facebook */
.sns .facebook a {
	background:#3b5998;
}
.sns .facebook a:hover {
	background:#324c81;
}

.fa-facebook {
	border-right:1px solid #607BB2;
	padding-right:15px;
}

/* グーグル */
.sns .googleplus a {
	background:#dc4e41;
}
.sns .googleplus a:hover {
	background:#bb4237;
}

.fa-google-plus {
	border-right:1px solid #E0776D;
	padding-right:13px;
}
/* はてぶ */
.sns .hatebu a {
	background:#00a5de;
}

.sns .hatebu a:hover {
	background:#008cbd;
}

.fa-hatena {
	border-right:1px solid #48B6DB;
	padding-right:15px;
}

/* LINE */
.sns .line a {
	background:#25af00;
}
.sns .line a:hover {
	background:#219900;
}

.fa-comment {
	border-right:1px solid #29c200;
	padding-right:15px;
}

/* Pocket */
.sns .pocket a {
	background:#f03e51;
}

.fa-get-pocket {
	border-right:1px solid #F27985;
	padding-right:15px;
}
.sns .pocket a:hover {
	background:#c0392b;
}

/* clearfix */
.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
	padding-bottom: 20px;
}
