<li class="px1 mt1 block align-top land-see-pre-animate land-see-post-item land-see-post-item-wide land-see-post-featured col land-see-recent">
    <a href="kim-myeong.amp.html" class="text-decoration-none">
        <amp-img class="land-see-post-image cover" alt="Studio Serif, interior." media="" width="409" height="305" layout="responsive" src="{{ $.Site.BaseURL }}/img/land-see/content/studio-310px.jpg"></amp-img>
    </a>
    <a class="land-see-post-category land-see-page-navigation inline-block pt1 underline caps" href="stories.amp.html?category&#x3D;design#land-see-design">Design</a>
    <h4 class="land-see-post-title ampstart-title-sm pt1">
        <a class="text-decoration-none" href="{{ .Permalink }}/">{{ .Title }}</a>
    </h4>
    <p class="ampstart-caption pt1 pb3">{{ .Summary }}</p>
</li>