<div class="">
  <span class="text-xs">スポンサーリンク</span>
  <div class="text-center">
    <amp-ad width=336 height=280
      media="(max-width: 480px)"
      type="doubleclick"
      data-slot="/22105504400/mc_sp_article_bottom_001"
      data-multi-size="300x250">
    </amp-ad>
  </div>
  <div class="lg:flex text-center">
    <div class="lg:flex-auto">
      <amp-ad width=336 height=280
        media="(min-width: 481px)"
        type="doubleclick"
        data-slot="/22105504400/mc_sp_article_bottom_001"
        data-multi-size="300x250">
      </amp-ad>
    </div>
    <div class="lg:flex-auto">
      <amp-ad width=336 height=280
        media="(min-width: 481px)"
        type="doubleclick"
        data-slot="/22105504400/mc_sp_article_bottom_001"
        data-multi-size="300x250">
      </amp-ad>
    </div>
  </div>
</div>
