<div class="">
  <span class="text-xs">スポンサーリンク</span>
  <div>
    <amp-ad
        media="(max-width: 480px)"
        width="100vw"
        height=320
        type="adsense"
        data-ad-client="ca-pub-5340212676785058"
        data-ad-slot="7368951150"
        data-auto-format="rspv"
        data-full-width>
        <div overflow></div>
      </amp-ad>
  </div>
  <div class="lg:flex">
    <div class="lg:flex-auto">
      <amp-ad width=300 height=250
        media="(min-width: 481px)"
        type="doubleclick"
        data-slot="/22105504400/001">
      </amp-ad>
    </div>
    <div class="lg:flex-auto">
      <amp-ad width=300 height=250
        media="(min-width: 481px)"
        type="doubleclick"
        data-slot="/22105504400/001">
      </amp-ad>
    </div>
  </div>
</div>
