{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

<nav class="flex justify-center my-4 ">
  {{ if .Paginator.HasPrev }}
  <a href="{{ .Paginator.Prev.URL }}" rel="prev" class="">
    <button class="bg-transparent hover:bg-gray-500 bg-gray-700 text-white font-semibold hover:text-white py-2 px-4 border border-gray-100 hover:border-transparent rounded mr-2">
      Prev.
    </button>
  </a>
  {{ end }}
  {{ if .Paginator.HasNext }}
  <a href="{{ .Paginator.Next.URL }}" rel="next" class="next bp">
    <button class="bg-transparent hover:bg-gray-500 bg-gray-700 text-white font-semibold hover:text-white py-2 px-4 border border-gray-100 hover:border-transparent rounded">
      Next
    </button>
  </a>
  {{ end }}
</nav>

{{ end }}