{{ $associateId := "meganii-22" }}
{{ $json := .Site.Data.amazon }}

{{ if .IsNamedParams }}
  {{ $.Scratch.Add "amazonItemId" ( .Get "id") }}
  {{ $.Scratch.Add "amazonItemWidth" ( .Get "width") }}
  {{ $.Scratch.Add "amazonItemHeight" ( .Get "height") }}
{{ else }}
  {{ $.Scratch.Add "amazonItemId" ( .Get 0) }}
  {{ $.Scratch.Add "amazonItemWidth" "100" }}
  {{ $.Scratch.Add "amazonItemHeight" "100" }}
{{ end }}

{{ $itemId := $.Scratch.Get "amazonItemId" }}
{{ $imgWidth := $.Scratch.Get "amazonItemWidth" }}
{{ $imgHeight := $.Scratch.Get "amazonItemHeight" }}

<div>
{{ range $json }}
  {{ if eq .id $itemId }}
  <div class="media">
    <div class="media__inner">
      <div class="media__image media__image--middle">
        <a href="http://www.amazon.co.jp/exec/obidos/ASIN/{{ $itemId }}/{{ $associateId }}/" name="amazon-shortcode">
          <amp-img class=".media__image--middle" src="{{ .image_url }}" alt="{{ .title }}" width="{{ $imgWidth }}" height="{{ $imgHeight }}" layout="fixed" />
        </a>
      </div>
      <div class="media__body media__body--middle">
        <p class="">
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/{{ $itemId }}/{{ $associateId }}/" name="amazon-shortcode">{{ .title }}</a>
        </p>
        {{ with .author }}
          <p class="amazon-shortcode-author">{{ . }}</p>
        {{ end }}
        <div class="amazon-shortcode-detail">
          {{ if or ( eq .productgroup "Book") (eq .productgroup "eBooks") }}
            <p>出版社：{{ .publisher }}</p>
          {{ else }}
            <p>{{ .label }}</p>
          {{ end }}
          {{ with .publicationdate }}
            <p>発売日：{{ . }}</p>
          {{ end }}
        </div>
        <p>
          <a href="http://www.amazon.co.jp/exec/obidos/ASIN/{{ $itemId }}/{{ $associateId }}/" name="backport">
            <i class="fa fa-amazon" aria-hidden="true"></i>&nbsp;Amazonで詳細を見る
          </a>
        </p>
      </div>
    </div>
  </div>
  {{ end }}
{{ end }}
<div>
